@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 0 0% 16%; /* #282828 */

    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 16%; /* #282828 */

    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 16%; /* #282828 */

    --primary: 302 97% 67%; /* #fd5deb */
    --primary-foreground: 0 0% 100%; /* #ffffff */

    --secondary: 202 87% 67%; /* #61c1f5 */
    --secondary-foreground: 0 0% 16%; /* #282828 */

    --muted: 0 0% 90%; /* light gray for muted */
    --muted-foreground: 0 0% 16%; /* #282828 */

    --accent: 111 77% 59%; /* #5ae44b */
    --accent-foreground: 0 0% 16%; /* #282828 */

    --destructive: 0 100% 50%; /* red for destructive */
    --destructive-foreground: 0 0% 100%; /* #ffffff */

    --border: 202 87% 67%; /* #61c1f5 */
    --input: 302 97% 67%; /* #fd5deb */
    --ring: 111 77% 59%; /* #5ae44b */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 302 100% 56%; /* #e500ff */

    --card: 0 0% 0%; /* #000000 */
    --card-foreground: 166 100% 50%; /* #00ffb1 */

    --popover: 0 0% 0%; /* #000000 */
    --popover-foreground: 302 100% 56%; /* #e500ff */

    --primary: 166 100% 50%; /* #00ffb1 */
    --primary-foreground: 0 0% 0%; /* #000000 */

    --secondary: 266 100% 50%; /* #5e00ff */
    --secondary-foreground: 0 0% 0%; /* #000000 */

    --muted: 271 100% 22%; /* #2f006f */
    --muted-foreground: 166 100% 50%; /* #00ffb1 */

    --accent: 302 100% 56%; /* #e500ff */
    --accent-foreground: 166 100% 50%; /* #00ffb1 */

    --destructive: 0 100% 50%; /* red for destructive */
    --destructive-foreground: 0 0% 0%; /* #000000 */

    --border: 266 100% 50%; /* #5e00ff */
    --input: 302 100% 56%; /* #e500ff */
    --ring: 166 100% 50%; /* #00ffb1 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
